/* .container{
    background-color: red;
    border: 2px solid whitesmoke;
} */
/* .container-fluid{
    background-color: rgb(0, 255, 47);
    border: 2px solid whitesmoke;
}
.col-md-4{
    background-color: red;
    border: 2px solid whitesmoke;
} */
/* .colors{
    background-color: red;
    border: 2px solid whitesmoke;
} */
/* .col-sm{
    background-color: red;
    border: 2px solid whitesmoke;
} */
.col{
    background-color: red;
    border: 2px solid whitesmoke;
}
/* .col-md{
    background-color: red;
    border: 2px solid whitesmoke;
/* } */ 